@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #e5e7eb; /* Gray-200 */
}

::-webkit-scrollbar-thumb {
    background: #2563eb; /* Blue-600 */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e40af; /* Darker blue */
}
